/* お客さん画面トップ */
/* スライドショー画像 */
#top_image{
    max-width: 100%;
    height: 50vw;
    object-fit: cover;
}

/* 商品一覧画像 */
div > a > img.mb-2{
    max-width: 100%;
    height: auto;
}

/* カテゴリー */
nav ul.category {
display: table;
margin: 0 auto;
padding: 0;
width: 100%;
text-align: center;
}
nav ul.category li{
display: table-cell;
min-width: 50px;
}
nav ul.category li a{
display: block;
width: 100%;
padding: 10px 0;
text-decoration: none;
color: #555;
font-weight: bold;
}
/* nav ul.category {
background-color: #DEEBF7;
} */
nav ul li:hover{
background-color: #FFF2CC;
}

/* カート */
table#item-detail form{
    display: inline;
}

